.message--main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}
.main--header {
  text-align: center;
}
.main--text {
  width: 80vw;
}
.text--img {
  text-align: end;
}
