.home--info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home--info > p {
  width: 50vw;
  margin-block: 2rem;
  font-size: larger;
}
.home--info > img {
  height: 30vh;
  border-radius: 50%;
}
.home--img-text {
  font-size: smaller;
  width: 20vw;
}
.home--break {
  width: 100vw;
  height: 20vh;
  background-color: aqua;
  margin-top: 2rem;
}
