.banner--img {
  width: 100vw;
  height: 80vh;
  position: relative;
}
.banner--text {
  position: absolute;
  width: 25vw;
  bottom: 29vh;
  left: 15vw;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.01),
    rgba(0, 0, 0, 0)
  );
}
.banner--text > h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 3px black;
}
.banner--text > p {
  color: white;
  text-shadow: 1px 1px 3px black;
  margin-bottom: 2rem;
}

.banner--text > a {
  border: 2px solid white;
  color: white;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  width: 5vw;
  font-weight: 700;
  text-shadow: 1px 1px 3px black;
  text-decoration: none;
}
.banner--text > a:hover {
  color: black;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  font-weight: 700;
  text-shadow: 1px 1px 3px black;
  background-color: white;
}

.home--info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home--info > p {
  width: 50vw;
  margin-block: 2rem;
  font-size: larger;
}
.home--info > img {
  height: 30vh;
  border-radius: 50%;
}
.home--img-text {
  font-size: smaller;
  width: 20vw;
}
.home--break {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(white, darkolivegreen);
}
.home--extras {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.249);
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(152, 144, 74);
  padding: 0.5rem;
  height: 20vh;
}
.home--extras:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.249);
}
.home--extras > img {
  border-radius: 5px;
  height: 15vh;
  width: 10vw;
}
.extras--thumb {
  height: 15vh;
  width: auto;
}
.extras--text {
  margin-left: 1rem;
}
.break--block {
  width: 50%;
  margin: 2rem;
}
.home--links {
  display: flex;
  justify-content: space-evenly;
  background-color: aqua;
  padding-bottom: 2rem;
}
.links--img {
  border-radius: 3px;
  height: 15vh;
  width: 10vw;
}
.home--links > div {
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  width: 20vw;
}
.home--links > div:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.249);
}
