.nav--main {
  height: 8vh;
  /* background-image: linear-gradient(to right, #9ff0af, #dcf0e0); */
  display: flex;
  align-items: flex-end;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}
.nav--icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  list-style-type: none;
}
.icon--left {
  display: flex;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav--group {
  display: flex;
  padding-right: 1rem;
}
.nav--icon {
  margin-inline: 0.5rem;
  padding: 0.5rem;
}
.nav--donate {
  background-color: darkolivegreen;
  padding: 0.5rem;
  color: white;
  margin-right: 2rem;
}
.nav--volunteer {
  background-color: rgb(152, 144, 74);
  padding: 0.5rem;
  color: white;
  margin-right: 1rem;
}
